---
title: Archives
layout: page
pageOrder: 2
---

ul.list-unstyled
  each doc in getCollection('posts').toJSON()
    //- dt.condensed= doc.date.toDateString()
    li
      a(href=doc.url)= doc.title
      p= doc.lead
