- var scripts = getBlock('scripts')

doctype html
html(lang="en")
  head
    script(src="//use.typekit.net/xnh4htv.js")
    script.
      try{Typekit.load();}catch(e){}
    // Meta
    meta(charset="utf-8")
    meta(http-equiv="content-type", content="text/html; charset=utf-8")

    //-
      Use the .htaccess and remove these lines to avoid edge case issues.
      More info: h5bp.com/i/378
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

    //- Our site title and description
    title= getPreparedTitle()
    meta(name="description", content=getPreparedDescription())
    meta(name="keywords", content=getPreparedKeywords())
    meta(name="author", content=site.author || '')

    //- Output DocPad produced meta elements
    != getBlock('meta').toHTML()

    //- Mobile viewport optimized: h5bp.com/viewport
    meta(name="viewport", content="width=device-width")

    // Icons
    link(rel="shortcut icon", href="/ico/favicon.ico")
    link(rel='stylesheet' href="//az720535.vo.msecnd.net/styles/style.css")

    //- Shims: IE6-8 support of HTML5 elements
    //if lt IE 9
      script(async src="http://html5shim.googlecode.com/svn/trunk/html5.js")

  body

    // Markup
    .container
      .row
        .col-sm-3
          .row.navigation-bar
            .col-xs-12.navigation-header
              a.site-title.spacedapart(href="/") OMER WAZIR
            .col-xs-12
              ul.site-page-list
                  each doc in getCollection('pages').toJSON()
                    - clazz = (document.url === doc.url) ? 'active' : null
                    li(typeof="sioc:Page", about=doc.url, class=clazz)
                      a.site-page(href=doc.url, property="dc:title")= doc.title
                  li
                    a.site-page(href='https://github.com/thewazir') Github
                  li 
                    a.site-page(href='https://twitter.com/thewazir') Twitter
        .col-sm-9.content
          section!= content
    // Scripts
    script.
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
     ga('create', 'UA-32626678-3', 'omerwazir.com');
     ga('send', 'pageview');

    != scripts.toHTML()

